.square {
    width: 100%; /* 100% / 8 = 12.5% */

    aspect-ratio: 1; /* Ensures height matches width (square shape) */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid black;
}

.piece {
    width: 80%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chessBoardWrapper .lightSquare {
    background-color: #f0d9b5;
}

.chessBoardWrapper .darkSquare {
    background-color: #b58863;
}

